*{margin:0; padding:0;}
#all{ width:700px; height:400px; border:2px solid red; margin:40px auto; transform-style:preserve-3d; perspective:1500px;}
#aaa{ width:350px; height:200px; border:2px solid green; margin:40px auto; box-shadow:-10px 15px 50px rgba(0,0,0,1); padding:5px; transform:rotateX(60deg) rotateY(5deg) rotateZ(-25deg);}

img{ width:350px; height:200px}

#aaa:hover{ transform:rotate3D(0,0,0,0deg); transition:all 3s ease-out 0s; box-shadow:-100px 150px 50px rgba(51,51,51,0);}