 *{margin:0; padding:0;}
#all{ width:800px; height:400px; margin:50px auto; background-color:#FFF }

#all ul li{ width:170px; height:160px; background-color:white; float:left; margin:15px 10px; border-radius:20px; box-shadow:0 0 5px rgba(0,0,0,1); padding:5px; transform:rotate(30deg);}
#all ul{ list-style:none; }

#all ul li img{width:170px; height:160px; border-radius:20px;}

#all ul li:nth-child(1){transform:rotate(30deg);}
#all ul li:nth-child(2){transform:rotate(-30deg);}
#all ul li:nth-child(3){transform:rotate(50deg);}
#all ul li:nth-child(4){transform:rotate(-45deg);}
#all ul li:nth-child(5){transform:rotate(25deg);}
#all ul li:nth-child(6){transform:rotate(-20deg);}
#all ul li:nth-child(7){transform:rotate(15deg);}
#all ul li:nth-child(8){transform:rotate(-45deg);}

#all ul li:hover{ transform:rotate(0deg) scale(0.8); transition:all 1s ease 0s;} 