#one{ width:300px; height:400px; background-image:url(u=3454989115,2815909483&fm=27&gp=0.jpg); background-repeat:no-repeat; position:relative; left:50px; top:50px; animation:zhangjiakai 10s linear 0s infinite ; }

@keyframes zhangjiakai{0%{left:100px; top:10px;} 25%{left:100px; top:300px;} 50%{left:600px; top:300px;}  75%{left:600px; top:10px;}100%{left:100px; top:50px;}}

#two{ width:130px; height:158px; background-image:url(22.jpg); background-repeat:no-repeat; position:absolute; right:100px; bottom:50px; animation:wangmanlin 0.002s linear 0s infinite;}

@keyframes wangmanlin{0%{ transform:rotate(0deg)}100%{ transform:rotate(360deg)}}